.navegation {
    padding: 10px 20px;
    background: #cccccc;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #312E38;
}

.breadcrumbs {
    color: #5d6166;
}

.breadcrumbs a {
    color: #312E38;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}
